@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-color: #ffd836

  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(to bottom, rgba(255, 216, 54, 0.1), rgba(255, 216, 54, 1)),
                        url('../../public/assets/bbq\ pattern.png');
}

label {
  margin-bottom: 16px;
  font-weight: 700;
  font-size:21px
}
input[type='checkbox']::after{
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid grey;
}

input[type='checkbox']:checked::after{
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: #ffd836;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #ffd836;
}

input, textarea {
  outline: none;
  border-radius: 2px;
  padding: 5px;
  border: 1px solid grey ;

}
input:hover, textarea:hover{
  border: 1px solid #554d27  ;

}


